* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("watercolor-bright.jpg");
    background-position: center;
    background-size: cover; 
    background-color: #ffd8d8;
    color: white;
}

.container {
	max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem;
}


/* Search bar styles*/

form#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-search {
    background-color: #d9f1e3;
    padding: 6px;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-field.first-wrap {
    width: 85%;
}

#request {
    background: none;
    border: none;
    box-shadow: none;
}

button#button {
    font-size: 30px;
    color: #00ad5f;
    background-color: transparent;
}

button, input[type="color"], input[type="reset"], input[type="button"], input[type="submit"] {
    border: none;
    background-color: none;
}

section.advanced {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type="radio"]:checked {
    background-color: #00ad5f;
}

#result-box {
    display: flex;
    justify-content: center;
}




/* Responsive layout styles */


/* Tablet */

@media only screen and (min-width: 768px) {

button#button {
    padding-right: 1rem;
}

}


/* Desktop */

@media only screen and (min-width: 992px) {

}